<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hh.multiboarduserbackend.domain.ask.post.AskPostRepository">
    <sql id="askPostColumns">
          ask_post_id
        , memeber_id
        , title
        , content
        , view_cnt
        , created_date
        , updated_date
        , delete_yn
        , lock_yn
    </sql>
</mapper>