<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 애플리케이션 로거: INFO 이상 -->
    <logger name="com.spring" level="INFO" />

    <!-- SQL 로깅 OFF  -->
    <logger name="jdbc.sqlonly" level="OFF" />
    <logger name="jdbc.resultsettable" level="OFF" />

    <!-- Thymeleaf 예외 로그 -->
    <logger name="org.thymeleaf.exceptions" level="ERROR" />

    <!-- 루트 로거: INFO 이상으로 콘솔 출력 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
