<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hh.multiboarduserbackend.domain.notice.post.NoticePostRepository">
    <!--    select 컬럼    -->
    <sql id="noticePostColumns">
          notice_post_id AS postId
        , admin_id
        , notice_category_id AS categoryId
        , title
        , content
        , view_cnt
        , created_date
        , updated_date
        , delete_yn
        , fin_yn
    </sql>

    <!--    검색조건    -->
    <sql id="search">
        <where>
            <if test="startDate != null">
                AND created_date >= #{startDate}
            </if>
            <if test="endDate != null">
                AND #{endDate} >= created_date
            </if>
            <if test="categoryId != null and categoryId != ''">
                AND notice_category_id = #{categoryId}
            </if>
            <if test="keyword != null and keyword != ''">
                AND CONCAT(title, (SELECT nickname FROM admin WHERE admin.admin_id = notice_post.admin_id), content) LIKE CONCAT('%', #{keyword}, '%')
            </if>
            AND delete_yn = 0
        </where>
    </sql>

    <!--    정렬 조건    -->
    <sql id="sort">
        ORDER BY
        <choose>
            <when test="orderBy == 'categoryId'">notice_category_id</when>
            <when test="orderBy == 'title'">title</when>
            <when test="orderBy == 'viewCnt'">view_cnt</when>
            <otherwise>created_date</otherwise>
        </choose>
        <choose>
            <when test="sortBy == 'asc'"> ASC</when>
            <otherwise> DESC</otherwise>
        </choose>
    </sql>

    <!--    게시글 단건 조회    -->
    <select id="findById" parameterType="long" resultType="com.hh.multiboarduserbackend.common.vo.PostVo">
        SELECT
            <include refid="noticePostColumns"></include>
            , (SELECT category_name FROM notice_category WHERE notice_category.notice_category_id = notice_post.notice_category_id) AS categoryName
            , (SELECT nickname FROM admin WHERE admin.admin_id = notice_post.admin_id) AS nickname
        FROM
            notice_post
        WHERE
            notice_post_id = #{noticePostId}
            AND delete_yn = 0
    </select>

    <!--    게시글 리스트 조회    -->
    <select id="findAllBySearch" parameterType="com.hh.multiboarduserbackend.common.vo.SearchVo" resultType="com.hh.multiboarduserbackend.common.vo.PostVo">
        SELECT
            <include refid="noticePostColumns"></include>
            , (SELECT category_name FROM notice_category WHERE notice_category.notice_category_id = notice_post.notice_category_id) AS categoryName
            , (SELECT nickname FROM admin WHERE admin.admin_id = notice_post.admin_id) AS nickname
        FROM
            notice_post
        <include refid="search"></include>
        <include refid="sort"></include>
        LIMIT #{limitStart}, #{recordSize}
    </select>

    <!--    게시글 수 카운팅    -->
    <select id="countAllBySearch" parameterType="com.hh.multiboarduserbackend.common.vo.SearchVo" resultType="int">
        SELECT
            COUNT(*)
        FROM
            notice_post
        <include refid="search"></include>
    </select>

    <!--    게시글 조회수 증가    -->
    <update id="increaseViewCntById" parameterType="long">
        UPDATE
            notice_post
        SET
            view_cnt = view_cnt + 1
        WHERE
            notice_post_id = #{noticePostId}
    </update>
</mapper>