<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hh.multiboarduserbackend.domain.notice.category.NoticeCategoryRepository">
    <!--    select 컬럼    -->
    <sql id="noticeCategoryColumns">
          notice_category_id AS categoryId
        , category_name
    </sql>

    <!--    전체 카테고리 리스트 조회    -->
    <select id="findAll" resultType="com.hh.multiboarduserbackend.common.vo.CategoryVo">
        SELECT
            <include refid="noticeCategoryColumns"></include>
        FROM
            notice_category
    </select>
</mapper>