<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.multiboardbackend.domain.post.repository.CommentRepository">
    <!-- 공통 컬럼 -->
    <sql id="commentColumns">
        c.comment_id as id,
        c.post_id,
        c.member_id,
        c.content,
        c.created_at,
        c.is_deleted as deleted
    </sql>

    <!-- 댓글 등록 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comments (
            post_id,
            member_id,
            content,
            created_at,
            is_deleted
        ) VALUES (
            #{postId},
            #{memberId},
            #{content},
            NOW(),
            false
        )
    </insert>

    <!-- 댓글 삭제 -->
    <update id="deleteById">
        UPDATE comments c
        SET
            c.is_deleted = true
        WHERE
            c.comment_id = #{id}
    </update>

    <!-- 댓글 단건 조회 -->
    <select id="findById" resultType="com.spring.multiboardbackend.domain.post.vo.CommentVO">
        SELECT
            <include refid="commentColumns"/>
        FROM
            comments c
        WHERE
            c.comment_id = #{id}
    </select>

    <!--  댓글 목록 조회  -->
    <select id="findAllByPostId" resultType="com.spring.multiboardbackend.domain.post.vo.CommentVO">
        SELECT
            <include refid="commentColumns"/>,
            m.nickname
        FROM
            comments c
            LEFT JOIN members m ON c.member_id = m.member_id
        WHERE
            c.post_id = #{postId}
            AND c.is_deleted = false
    </select>
</mapper>