<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hh.multiboarduserbackend.domain.free.comment.FreeCommentRepository">
    <sql id="freeCommentColumns">
          free_comment_id
        , free_post_id
        , member_id
        , content
        , created_date
        , delete_yn
    </sql>

<!--    댓글 등록    -->
    <insert id="save" parameterType="com.hh.multiboarduserbackend.common.vo.CommentVo">
        INSERT INTO free_comment (
            <include refid="freeCommentColumns"></include>
        ) VALUES (
              #{commentId}
            , #{postId}
            , #{memberId}
            , #{content}
            , NOW()
            , 0
        )
    </insert>

<!--    게시글 아이디에 해당하는 댓글 리스트 조회    -->
    <select id="findAllByPostId" parameterType="long" resultType="com.hh.multiboarduserbackend.common.vo.CommentVo">
        SELECT
            <include refid="freeCommentColumns"></include>
        FROM
            free_comment
        WHERE
            free_post_id = #{freePostId}
            AND delete_yn = 0
        ORDER BY
            free_comment_id ASC
    </select>

<!--    댓글 삭제    -->
    <update id="deleteById" parameterType="long">
        UPDATE
            free_comment
        SET
            delete_yn = 1
        WHERE
            free_comment_id = #{freeCommentId}
    </update>
</mapper>