<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hh.multiboarduserbackend.domain.gallery.thumbnail.GalleryThumbnailRepository">
    <sql id="galleryThumbnailColumns">
            gallery_thumbnail_id
          , gallery_post_id
          , original_name
          , saved_name
          , saved_path
          , saved_size
          , delete_yn
    </sql>
</mapper>