<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hh.multiboarduserbackend.domain.gallery.thumbnail.GalleryThumbnailRepository">
<!--    select 컬럼    -->
    <sql id="galleryThumbnailColumns">
            gallery_thumbnail_id AS thumbnailId
          , gallery_post_id AS postId
          , gallery_file_id AS fileId
          , original_name
          , saved_name
          , saved_path
          , saved_size
          , delete_yn
    </sql>

<!--    insert 컬럼    -->
    <sql id="insertColumns">
            gallery_thumbnail_id
          , gallery_post_id
          , gallery_file_id
          , original_name
          , saved_name
          , saved_path
          , saved_size
          , delete_yn
    </sql>

    <!--    썸네일 저장    -->
    <insert id="save" parameterType="com.hh.multiboarduserbackend.common.vo.FileVo">
        INSERT INTO gallery_thumbnail (
            <include refid="insertColumns"></include>
        ) VALUES (
              null
            , #{postId}
            , #{fileId}
            , #{originalName}
            , #{savedName}
            , #{savedPath}
            , #{savedSize}
            , 0
        )
    </insert>

<!--    썸네일 postId로 카운트    -->
    <select id="countAllByPostId" parameterType="long" resultType="int">
        SELECT
            COUNT(*)
        FROM
            gallery_thumbnail
        WHERE
            gallery_post_id = #{galleryPostId}
    </select>
</mapper>